#modalDimmer {
	-fx-background-color: rgb(0,0,0,0.6);
}
#debiteur-table .table-cell .button,
#debiteur-table #add-button,
#debiteur-table #edit-button {
	-fx-background-color: null;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0.0;
	-fx-padding: 0 15 0 15;
}
#debiteur-table #add-button {
	-fx-graphic: url("images/add.png");
}
#debiteur-table #edit-button {
	-fx-graphic: url("images/edit.png");
}
#debiteur-table #add-button:hover {
	-fx-graphic: url("images/addHover.png");
}
#debiteur-table #edit-button:hover {
	-fx-graphic: url("images/editHover.png");
}

#root {
    -fx-background-color: #333333;
    -fx-padding: 1.0px;
}

#mainToolBar {
	-fx-padding: 10.0px;
	-fx-background-image: url("images/top-bar.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}
#name-image {
	-fx-effect: dropshadow(three-pass-box, rgba(255.0, 255.0, 255.0, 0.8), 5.0, 0.5, 0.0, 0.0);
}
#window-close {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window-close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window-min {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window-min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window-max {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window-max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}
#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1.0px bottom 1.0px;
    -fx-background-repeat: no-repeat;
}

#main-pane {
    -fx-background-color: null;
    -fx-background-insets: 0.0;
    -fx-padding: 1.0px 0.0px 0.0px 0.0px;
}

#rekening-toolbar {
	-fx-padding: 5.0px 5.0px 5.0px 5.0px;
	-fx-border-image-source: url("images/mid-bar-right.png");
    -fx-border-image-slice: 1.0 0.0 1.0 0.0 fill;
    -fx-border-image-width: 1.0 0.0 1.0 0.0;
    -fx-border-image-repeat: stretch;
    -fx-spacing: 0.0;
}
#rekening-toolbar .button, #rekening-toolbar .toggle-button {
    -fx-background-color: null;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
    -fx-padding: 3.0px 6.0px 4.0px 6.0px;
    -fx-border-color: transparent #6e737d transparent rgba(255.0,255.0,255.0,0.3), transparent rgba(255, 255, 255, 0.3) transparent transparent;
    -fx-border-insets: 0.0, 0.0 1.0 0.0 1.0;
}
#rekening-toolbar .button:hover, #rekening-toolbar .toggle-button:hover {
    -fx-background-color: rgba(255.0,255.0,255.0,0.4);
}
#rekening-toolbar #settings-button {
    -fx-border-color: transparent transparent transparent #6e737d, transparent transparent transparent rgba(255, 255, 255, 0.3);
    -fx-border-insets: 0.0, 0.0 1.0 0.0 1.0;
}

#rekening-tabs,
#settings-tabs {
	-fx-side: top;
}
#rekening-tabs *.tab-header-background,
#settings-tabs *.tab-header-background {
    -fx-background-color: #51555c;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 12, 0, 0, 0);
}
#rekening-tabs .tab-header-content-spacer,
#settings-tabs .tab-header-content-spacer {
    -fx-padding: 0;
    -fx-border-width: 0px;
}
#rekening-tabs .tab-label,
#settings-tabs .tab-label {
    -fx-font-size: 1em;
}

#left-panel {
	-fx-pref-width: 200px;
}

#panel-tree .tree-cell {
    -fx-indent: 10;
    -fx-background-color: transparent;
}
#panel-tree .tree-cell:odd {
    -fx-background-color: transparent;
}
#panel-tree .tree-cell:filled:selected:focused, #panel-tree .tree-cell:filled:selected {
    -fx-background: #666666;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
#panel-tree:focused .tree-cell:filled:selected {
    -fx-background: -fx-accent;
}
#panel-tree {
    -fx-background-color: #d1dee3;
    -fx-border-image-source: url("images/tree-background.png");
    -fx-border-image-slice: 30 30 30 30 fill;
    -fx-border-image-width: 30 30 30 30;
    -fx-border-image-repeat: stretch;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: -25 -30 -30 -30; /* counter the 30px added by border image to give 0 overall */
}
#panel-tree:focused {
    -fx-background-color: -fx-focus-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.working-pane {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: black;
    -fx-border-color: transparent transparent transparent black;
    -fx-border-width: 1px;
    -fx-spacing: 20px;
    -fx-fill-width: false;
    -fx-alignment: top-center;
}

.page {
	-fx-alignment: top-center;
	-fx-padding: 10px 0px 10px 0px;
}
.page #title {
	-fx-alignment: top-center;
	-fx-border-color: transparent transparent #AAAAAA transparent;
	-fx-border-insets: 0 0 8px 0;
	-fx-font-size: 1.3em;
	-fx-font-weight: bold;
	-fx-padding: 0 0 2px 0;
	-fx-text-fill: #0072aa;
}
.page #subtitle {
	-fx-alignment: top-center;
	-fx-border-color: transparent transparent #AAAAAA transparent;
	-fx-border-insets: 0 0 8px 0;
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
	-fx-padding: 8px 0 2px 0;
	-fx-text-fill: #0072aa;
}

.page .table-cell .button {
	-fx-graphic: url("images/deleteBW.png");
}
.page .table-cell .button:hover {
	-fx-graphic: url("images/delete.png");
}

.page .table-cell .button,
.page #up-button,
.page #down-button,
.page #add-button {
	-fx-background-color: null;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0.0;
	-fx-padding: 0 15 0 15;
}
.page #up-button {
	-fx-graphic: url("images/arrowUp.png");
}
.page #down-button {
	-fx-graphic: url("images/arrowDown.png");
}
.page #add-button {
	-fx-graphic: url("images/add.png");
}
.page #up-button:hover {
	-fx-graphic: url("images/arrowUpHover.png");
}
.page #down-button:hover {
	-fx-graphic: url("images/arrowDownHover.png");
}
.page #add-button:hover {
	-fx-graphic: url("images/addHover.png");
}

.new-artikel {
	-fx-background-color: black, white, linear-gradient(rgb(250, 250, 250), rgb(230, 230, 230));
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 15, 14, 13;
	-fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
	-fx-padding: 15;
	-fx-spacing: 10;
}
.new-artikel #title {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-text-fill: orangered;
    -fx-alignment: center;
}
.new-artikel #cancelButton, .new-artikel #addButton {
	-fx-min-width: 74;
	-fx-pref-width: 74;
}

#particulier-tabs {
	-fx-side: top;
}
#particulier-tabs *.tab-header-background {
    -fx-background-color: transparent;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 12, 0, 0, 0);
}
#particulier-tabs .tab-header-content-spacer {
    -fx-padding: 0;
    -fx-border-width: 0px;
}
#particulier-tabs .tab-label {
    -fx-font-size: 1em;
}

#searchBox .text-field {
    -fx-padding: -9 5 -11 0;
    -fx-border-image-source: url("images/search-box.png");
    -fx-border-image-slice: 12 12 12 22 fill;
    -fx-border-image-width: 12 12 12 22;
    -fx-border-image-repeat: stretch;
    -fx-prompt-text-fill: grey;
}
#esselinkSearchBox .text-field {
	-fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 15;
    -fx-padding: -9 5 -11 0;
    -fx-border-image-source: url("images/esselink-search-box.png");
    -fx-border-image-slice: 12 12 12 22 fill;
    -fx-border-image-width: 12 12 12 22;
    -fx-border-image-repeat: stretch;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}
#esselinkSearchBox .text-field:focused {
	-fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1;
	-fx-background-radius: 14.4;
}
#searchBox .button, #esselinkSearchBox .button {
    -fx-background-color: null;
    -fx-background-image: url("images/search-clear.png");
}
#searchBox .button:hover, #esselinkSearchBox .button:hover {
    -fx-background-image: url("images/search-clear-over.png");
}
.search-menu-item-border {
    -fx-border-color: transparent transparent transparent #bbbbbb;
    -fx-border-insets: 0 0 0 69;
    -fx-padding: 4 5 4 -64;
}
.search-menu-item-border:selected,
.search-menu-item-border:hover,
.search-menu-item-border:focused {
    -fx-border-color: transparent transparent transparent derive(-fx-focus-color,30%);
}
.search-menu-item-popup-region {
	-fx-opacity: 0;
}
.search-menu-item:hover .search-menu-item-popup-region,
.search-menu-item:focused .search-menu-item-popup-region {
    -fx-opacity: 100%;
}
#search-info-box {
    -fx-padding: -30 -6 -8 -2;
    -fx-border-image-source: url("images/info-tooltip.png");
    -fx-border-image-slice: 34 20 12 12 fill;
    -fx-border-image-width: 34 20 12 12;
    -fx-border-image-repeat: stretch;
}
#search-info-name {
    -fx-text-fill: white;
}
#search-info-description {
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
}
.artikelnummer-label {
    -fx-text-fill: #666666;
    -fx-font-size: 11px;
    -fx-padding: 2 10 0 0;
}
.search-menu-item:selected .artikelnummer-label,
.search-menu-item:hover .artikelnummer-label,
.search-menu-item:focused .artikelnummer-label {
    -fx-text-fill: white;
}
.no-item-found {
	-fx-font-style: italic;
}