#root {
    -fx-background-color: #333333;
    -fx-padding: 1.0px;
}

#mainToolBar {
	-fx-padding: 10.0px;
	-fx-background-image: url("images/top-bar.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}
#name-image {
	-fx-effect: dropshadow(three-pass-box, rgba(255.0, 255.0, 255.0, 0.8), 5.0, 0.5, 0.0, 0.0);
}
#window-close {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window-close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window-min {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window-min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window-max {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window-max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}
#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1.0px bottom 1.0px;
    -fx-background-repeat: no-repeat;
}

#main-pane {
    -fx-background-color: null;
    -fx-background-insets: 0.0;
    -fx-padding: 1.0px 0.0px 0.0px 0.0px;
}

#rekening-toolbar {
	-fx-padding: 5.0px 5.0px 5.0px 5.0px;
	-fx-border-image-source: url("images/mid-bar-right.png");
    -fx-border-image-slice: 1.0 0.0 1.0 0.0 fill;
    -fx-border-image-width: 1.0 0.0 1.0 0.0;
    -fx-border-image-repeat: stretch;
    -fx-spacing: 0.0;
}
#rekening-toolbar .button {
    -fx-background-color: null;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
    -fx-padding: 3.0px 6.0px 4.0px 6.0px;
    -fx-border-color: transparent #6e737d transparent rgba(255.0,255.0,255.0,0.3), transparent rgba(255, 255, 255, 0.3) transparent transparent;
    -fx-border-insets: 0.0, 0.0 1.0 0.0 1.0;
}
#rekening-toolbar .button:hover {
    -fx-background-color: rgba(255.0,255.0,255.0,0.4);
}
#rekening-toolbar #settings-button {
    -fx-border-color: transparent transparent transparent #6e737d, transparent transparent transparent rgba(255, 255, 255, 0.3);
    -fx-border-insets: 0.0, 0.0 1.0 0.0 1.0;
}